.infoWrapper {
  background: #fff;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: inset 1px 0 0  rgba(255, 255, 255, 0.2), inset -1px 0 0 rgba(255, 255, 255, 0.2),
  0 0 4px 0 rgba(95, 99, 104, 0.4), 0 0 6px 2px rgba(95, 99, 104, 0.4);
  padding: 0 1rem;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3rem;

  .title {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }
}

.actions {
  background: #fff;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: inset 1px 0 0  rgba(255, 255, 255, 0.2), inset -1px 0 0 rgba(255, 255, 255, 0.2),
  0 0 4px 0 rgba(95, 99, 104, 0.4), 0 0 6px 2px rgba(95, 99, 104, 0.4);
  padding: 0 1rem;
  white-space: normal;
  height: 3.6rem;
  word-break: break-all;

  .left {
    display: flex;
    flex: 1;
  }

  .right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .toolbar-icon {
    position: relative;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 6px;

    &.disabled {
      pointer-events: none;
      i {
        color: rgb(200, 205, 208);
      }
      span {
        color: rgb(200, 205, 208);
      }
    }

    &:not(.disabled):hover {
      i {
        color: #2e323a;
      }
      span {
        color: #2e323a;
      }
    }

    i {
      font-size: 1.8rem;
      color: #5B6B73;
    }

    span {
      font-weight: 600;
      color: #5B6B73;

      font-size: 1rem;
      &.small {
        font-size: 0.8rem;
      }
    }
  }
}
