<div class="d-flex flex-column h-100">
  <div class="d-flex flex-column flex-1" style="overflow: hidden;">
    <app-pdf-viewer class="h-100" [renderVisibleOnly]="true" [file]="'assets/compressed.tracemonkey-pldi-09.pdf'"></app-pdf-viewer>
  </div>
  <div class="actions">
    <a href="javascript:void(0);" class="toolbar-icon">
      <i class="far fa-signature"></i>
      <span>签名</span>
    </a>
    <a href="javascript:void(0);" class="toolbar-icon">
      <i class="far fa-signature"></i>
      <span>签名</span>
    </a>
  </div>
</div>
