<div class="info">
  {{currentPage}}/{{pagesCount}}
</div>
<div id="viewer" cdkDropList class="viewer" (cdkDropListDropped)="drop($event)">
  <div #pdfViewer class="pdfViewer">
    <ng-container *ngFor="let stamp of stamps; index as i">
      <div appDrag [satPopoverAnchor]="popover" (dragMoved)="moveStamp($event, i, popover)" (dragEnded)="adjustStampBoundary($event, i, popover)" class="stamp"  [class.selected]="stamp.selected" [ngStyle]="{width: stamp.viewport.width + 'px', height: stamp.viewport.height + 'px', top: stamp.viewport.top + 'px', left: stamp.viewport.left + 'px'}">
        <img class="w-100" [src]="'data:image/png;base64,' + stamp.stampBase64" />
      </div>
      <sat-popover #popover horizontalAlign="center"  verticalAlign="above">
        <div class="c-popover" (click)="removeStamp(i)">
          删除
        </div>
      </sat-popover>
    </ng-container>
    <app-pdf-page [pages]="pages" [type]="renderType" (rendered)="onRendered($event)" (rendering)="onRendering($event)"></app-pdf-page>
  </div>
</div>
