.viewer {
  position: relative;
  overflow: hidden;

  .pdfViewer {
    //transition: transform 200ms ease;

    .stamp {
      position: absolute;
      z-index: 15000;
      display: flex;
      align-items: center;
      border: 2px solid transparent;
      border-radius: 5px;
      background-color: rgba(255, 97, 97, 0.1);
      &.selected {
        border: 2px dashed red;
      }
    }
  }
}

.info {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius:5px;
  padding: 0 8px;
  z-index: 9999;
  font-size: .9rem;
  color: #fff;
  background: rgba(0, 0, 0, .5);
}

.c-popover {
  display: flex;
  flex-direction: column;
  background: #2e323a;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.65);
  padding: 5px;
  margin: .5rem 0;
}
