.page {
  background: #fff;
  position: relative;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  .content {
    //min-width: 100%;
    //min-height: 100%;
    overflow: hidden;
  }
}
