.page {
  position: relative;
  margin: 0 auto -9px auto;
  border: 9px solid transparent;
  border-image: url(../../assets/images/shadow.png) 9 9 repeat;

  .content {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    overflow: hidden;
  }
}
