/* You can add global styles to this file, and also import other style files */
body {
  top: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  overflow: hidden !important;
  height: 100%;
  background: rgba(0, 0, 0, .12);
}

.dark {
  background: #2e323a;
}

.ps {
  overflow-y: scroll;
  overflow-x: hidden;
}

.sv {
  width: 100%;
  .page {
    position: relative;
    margin: 8px auto 0 auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0px;
  }
}

.flex-1 {
  flex: 1;
}

.info {
  position: fixed;
  top: 8px; right: 8px;
  border-radius:5px;
  padding: 0 8px;
  z-index: 9999;
  font-size: .9rem;
  background: rgba(0, 0, 0, .15);
}
